/* TAILWIND BREAKPOINTS
sm	640px	@media (min-width: 640px) { ... }
md	768px	@media (min-width: 768px) { ... }
lg	1024px	@media (min-width: 1024px) { ... }
xl	1280px	@media (min-width: 1280px) { ... }
2xl	1536px	@media (min-width: 1536px) { ... } */

/* BOOTSTRAP BREAKPOINTS
xs 480px
sm 768px
md 992px
lg 1200px */

@media screen and (min-width: 1024px) {
    /* HEADER **************************************************/
    header {
        padding: 0.8rem;
    }

    header .header-content {
        max-width: 1200px;
        margin: 0 auto;
    }

    header .header-content .mobile-menu-icon-container {
        display: none;
    }

    header .header-content .desktop-menu-container {
        display: block;
    }

    header .header-content .desktop-menu-container .menu-list {
        display: flex;
        gap: 1.5rem;
        height: 100%;
    }

    header .header-content .desktop-menu-container .menu-list .menu-item {
        height: 100%;
    }

    header .header-content .desktop-menu-container .menu-list .menu-item .menu-item-link {
        padding: 4px 12px;
        font-weight: 600;
        transition: 0.1s;
    }

    header .header-content .desktop-menu-container .menu-list .menu-item .menu-item-link:hover {
        color: #ffcc00;
        cursor: pointer;
        border-bottom: 3px solid #ffcc00;
        border-radius: 8px;
    }

    /* MAIN **************************************************/
    /********** HOME SECTION **************************************************/
    main section#home-section {
        padding: 0 1rem;
    }
    
    main section#home-section .home-content {
        padding: 2rem;
    }

    main section#home-section .home-content .home-title {
        font-size: 3.6rem;
    }
    
    main section#home-section .home-content .home-text {
        font-size: 1.2rem;
    }

    /********** SERVICES SECTION **************************************************/
    main section#services-section .services-content .services-solutions {
        flex-direction: row;
        gap: 0rem;
        border-radius: 0.5rem;
        box-shadow: 2px 0px 4px #0003;
    }

    main section#services-section .services-content .services-solutions .service-category-list {
        flex: 22;
        height: 630px;
        box-shadow: none;
    }

    main section#services-section .services-content .services-solutions .service-category-list .category-accordion {
        flex-direction: column;
    }

    main section#services-section .services-content .services-solutions .service-category-list .category-accordion .accordion-tab:first-child .accordion-tab-button {
        border-radius: 0.5rem 0 0 0;
    }

    main section#services-section .services-content .services-solutions .service-category-list .category-accordion .accordion-tab:last-child .accordion-tab-button {
        border-radius: 0 0 0 0.5rem;
    }

    main section#services-section .services-content .services-solutions .service-category-list .category-accordion .accordion-tab.active-tab .accordion-tab-button {
        margin-left: 1px;
        border-left: 1px solid #ffcc00;
        border-top: 1px solid #ffcc00;
        border-right: 2px solid #fff;
        border-bottom: 1px solid #ffcc00;
        box-shadow: none;
        background-color: #ffcc0009;
        color: #ffcc00;
        opacity: 1;
        z-index: 2;
    }

    main section#services-section .services-content .services-solutions .service-list {
        border-radius: 0 0.5rem 0.5rem 0;
        box-shadow: none;
    }

    main section#services-section .services-content .services-solutions .service-list .category-service-list {
        /* display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start; */
        gap: 3rem;
        padding: 2rem 0.5rem;
        /* width: 100%;
        height: 100%;
        transition: 0.6s; */
    }

    main section#services-section .services-content .services-solutions .service-list .category-service-list .services-items-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: start;
        gap: 1rem;
        width: 100%;
        padding: 0 1rem;
    }

    /********** WHO WE ARE SECTION **************************************************/
    section#who-we-are-section {
        padding: 6rem 4rem;
    }

    section#who-we-are-section .who-content .who-border {
        gap: 2rem;
        padding: 8rem 4rem;
    }

    section#who-we-are-section .who-content .who-border .who-info {
        flex-direction: row;
    }

    section#who-we-are-section .who-content .who-info .who-statics {
        align-items: start;
        padding-left: 10rem;
    }

    section#who-we-are-section .who-content .who-info .who-statics .statics-item {
        flex-direction: row;
    }

    section#who-we-are-section .who-content .who-info .who-statics .statics-item .statics-info {
        align-items: start;
    }

    section#who-we-are-section .who-content .who-border .learn-more-container {
        justify-content: start;
    }

    /********** DIFFERENTIALS SECTION **************************************************/
    main section#differentials-section {
        padding-bottom: 2rem;
    }

    main section#differentials-section .differentials-content {
        gap: 5rem;
    }
    
    main section#differentials-section .differentials-content .differential-list {
        flex-direction: row;
        align-items: start;
        gap: 3.5rem;
    }

    /********** CASES AND ARTICLES SECTION **************************************************/
    main section#cases-articles-section .cases-articles-content {
        gap: 5rem;
    }
    
    main section#cases-articles-section .cases-articles-content .article-list {
        flex-direction: row;
        align-items: start;
        gap: 1rem;
        padding: 0 2rem;
    }

    main section#cases-articles-section .cases-articles-content .article-list .article-card {
        flex-direction: row;
        height: 325px;
        /* width: 400px; */
    }

    main section#cases-articles-section .cases-articles-content .article-list .article-card .article-image-container {
        flex: 50;
    }

    main section#cases-articles-section .cases-articles-content .article-list .article-card .article-image-container .article-image {
        /* width: 400px; */
        height: 100%;
        /* border-right: 2px solid #e4e4e4; */
        border-bottom: none;
        border-radius: 0.5rem 0 0 0.5rem;
    }

    main section#cases-articles-section .cases-articles-content .article-list .article-card .article-info-container {
        flex: 50;
        /* justify-content: space-between; */
        padding: 1rem 1.5rem;
        border-radius: 0 0.5rem 0.5rem 0;
    }

    main section#cases-articles-section .cases-articles-content .article-list .article-card .article-info-container .article-text {
        margin-top: 0.5rem;
        margin-bottom: auto;
        font-size: 1rem;
    }

    main section#cases-articles-section .cases-articles-content .article-list .article-card .article-info-container .article-link .article-button {
        width: auto;
    }

    /********** CONTACT SECTION **************************************************/
    main section#contact-section .contact-content .contact-data .contact-info-container {
        flex-direction: row;
        align-items: start;
    }

    main section#contact-section .contact-content .contact-data .contact-form-container .form-title-container {
        text-align: center;
    }

    main section#contact-section .contact-content .contact-data .contact-social .social-media-list  {
        flex-direction: row;
        gap: 8rem;
    }
}